<?php
$controller = $this->controller;
$menu = array(
	'running' => array(
		'add run'=>'running/add',
		'history'=>'running/list',
		'schedule'=>'running/schedule',
		'stats'=>'running/stats'
	)
);
if(isset($menu[$controller])){
	?>
	<div id="collapsedHorMenu">
		<ul>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ul>
	</div>
	<div id="horMenuDiv" class="hor_menu_div">
		<ul id="horMenuUl" class="hor_menu_ul">
			<?php
				foreach($menu[$controller] as $name =>$link){
					echo sprintf('<li><a href="%s">%s</a></li>',$this->baseUrl($link),$name);
				}
			?>
			<button id="collapse_menu_btn"></button>
		</ul>
	</div>
	<div style="clear:both"></div>
	<?php
}

