<?php
/*
$m = new Application_Model_Menu();
$loggedIn = isset($this->loggedIn) ? $this->loggedIn : false;
if($loggedIn){
	$m->addItem('Logout','index/logout');
}
else{
	$m->addItem('Login','index/login');
}
$items = $m->getMenuItems();
$nodes = is_array($this->nodes) ? $this->nodes : array();
foreach($items as $i){
	if($i['permission'] === '' || in_array($i['permission'],$nodes)){
		echo '<li>';
		echo '<a href="'.$this->baseUrl($i['url']).'">'.$i['name'].'</a>';
		if(is_array($i['childs'])){
			echo '<ul>';
			foreach($i['childs'] as $si){
				if($si['permission'] === '' || in_array($si['permission'],$nodes)){
					echo '<li><a href="'.$this->baseUrl($si['url']).'">'.$si['name'].'</a></li>';
				}
			}
			echo '</ul>';
		}
		echo '</li>';
	}
} 
*/

$links = array(	'Running'=>'running',
				'Fitness'=>'fitness',
				'Settings'=>'settings');

foreach($links as $name=>$link){
	echo sprintf('<li><a href="%s"> %s </a></li>',$this->baseUrl($link),$name);
}
?>
