<link href="<?=$this->baseUrl('css/form.css');?>" media="screen" rel="stylesheet" type="text/css" />
<form name="login" class="elegant-aero" action="<?=$this->baseUrl('/index/login')?>" method="post" accept-charset="utf-8">
	<h1>Login
		<span>Don't have an account? <a href="<?=$this->baseUrl('index/register');?>">Create one here!</a></span>
	</h1>
	<label for="username"><span>Your username</span></label>
	<input type="text" name="username" placeholder="username" required>
	<label for="password"><span>Password</span></label>
	<input type="password" name="password" placeholder="password" required>
	<label><span></span></label>
	<input class="button" type="submit" value="Login"/>
</form>
