<!--<p>Don't have an account? <a href=" <? // =$this->baseUrl('/index/register')?>">Make one!</a></p>
<section class="loginform cf"> -->
<form id="login_form" name="login" action="<?=$this->baseUrl('/index/login')?>" method="post" accept-charset="utf-8">
	<ul>
		<li>
			<input type="text" name="username" placeholder="username" required></li>
		<li>
			<input type="password" name="password" placeholder="password" required></li>
		<li>
			<input type="submit" value="Login"></li>
		<li>
			<button id="register_button">REGISTER</button>
		</li>
	</ul>
</form>
<script>
$(document).ready(function(){
	$("#register_button").click(function(event){
		event.preventDefault();
		redirect('index/register');
	});
});
</script>
