<link href="<?=$this->baseUrl('css/form.css');?>" media="screen" rel="stylesheet" type="text/css" />
<form name="login" method="post" class="elegant-aero" accept-charset="utf-8">
	<h1>Sign up</h1>
	<label for="username"><span>Your username</span></label>
	<input type="text" name="username" placeholder="username" required>
	<label for="email"><span>Your email</span></label>
	<input type="text" name="email" placeholder="my.email@host.com" required>
	<label for="password"><span>Your password</span></label><input type="password" name="password" placeholder="password" required>
	<label for="password"><span>Please confirm your password</span></label><input type="password" name="password_confirmation" placeholder="password" required>
	<input class="button" type="submit" value="Register"></li>
	</ul>
</form>
<ul class="error_list">
	<?php foreach($this->errors as $e){
		echo '<li>'.$e.'</li>';
	} ?>
</ul>
