/*
	Glowing Blue: #0c92d1
	Dark Blue: #1e2631
*/
#card_filter_div {
	width: 100%;
	background: #1e2631;
	height: 100px;
	border-left: 2px solid #0c92d1;
}

#rarity_div {
	float: left;
	margin-left: 40px;
	width: 160px;
	padding: 0px 5px 0px 5px;
	margin-right: 20px;
}

#rarity_div ul {
	position: relative;
	width: 600px;
	margin-left: 70px;
	margin-top: -20px;
}

#class_div {
	position: relative;
	float: left;
	width: 270px;
	left: 50px;
}

#class_div ul {
	float: left;
	margin-right: 10px;
	margin-top: 0px;
}

#class_div ul li {
	margin-top: 5px;
}

#name_filter_div {
	width: 200px;
	height: 40px;
	margin-top: 54px;
	float: left;
	position: relative;
	left: 100px;
}

label, legend {
	color: #CECECE;
}

legend {
	text-shadow: 1px 1px 3px #0c92d1;
}

#name {
	border: 2px solid #0c92d1;
	border-radius: 5px;
}

#name_label {
	text-shadow: 1px 1px 3px #0c92d1;
}