/* Elegant Aero */
.elegant-aero {
	width: 400px;
	margin: 15px;
	background: #DDF0F8;
	padding: 30px 30px 20px 30px;
	box-shadow: #868686 0 0px 10px -1px;
	-webkit-box-shadow: #868686 0 0px 10px -1px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
}

.elegant-aero h1 {
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 20px 10px 20px 30px;
	display: block;
	background: #D0E6F0;
	margin-top: -30px;
	margin-left: -30px;
	margin-right: -30px;
	border-bottom: 1px solid #B9E1F1;
}

.elegant-aero h1 > span {
	display: block;
	font-size: 11px;
}

.elegant-aero label > span {
	float: left;
	margin-top: 10px;
	color: #5E5E5E;
}

.elegant-aero label {
	display: block;
	margin: 0px 0px 5px;
}

.elegant-aero label > span {
	float: left;
	width: 100px;
	text-align: left;
	padding-right: 10px;
	margin-top: 10px;
	font-weight: bold;
}

.elegant-aero input[type="text"],.elegant-aero input[type="checkbox"], .elegant-aero input[type="email"],.elegant-aero input[type="password"], .elegant-aero input[type="date"], .elegant-aero input[type="time"], .elegant-aero input[type="number"], .elegant-aero textarea, .elegant-aero select {
	color: #888;
	width: 65%;
	padding: 5px 4px 0px 5px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #CEE2E7;
	background: #FBFBFB;
	outline: 0;
	-webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	font: 200 24px/24px Arial, Helvetica, sans-serif;
	text-align: left;
}


.elegant-aero textarea {
	height: 100px;
}

.elegant-aero select {
	background: #fbfbfb url('down-arrow.png') no-repeat right;
	background: #fbfbfb url('down-arrow.png') no-repeat right;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 67%;
}

.elegant-aero .button {
	padding: 10px 30px 10px 30px;
	background: #66C1E4;
	border: none;
	color: #FFF;
}

.elegant-aero .button:hover {
	background: #3EB1DD;
}