/*
	Glowing Blue: #0c92d1
	Dark Blue: #1e2631
*/

#login_form_box {
	height: 45px;
	background: #1e2631;
	position: absolute;
	bottom: 0;
	left: 130px;
	width: -moz-calc(100% - 130px);
	width: -webkit-calc(100% - 130px);
	width: calc(100% - 130px);
	border-bottom: 2px solid #0c92d1;
	display: none;
}

#login_form {
	padding: 10px;
	display: none;
}

#login_form ul {
	list-style: none;
}

#login_form ul li {
	float: left;
	margin-right: 10px;
}

#login_form input[type="text"], #login_form input[type="password"] {
	padding: 2px 10px;
	font-size: 16px;
	width: 160px;
	border: 2px solid #0c92d1;
	border-radius: 5px;
}

#login_form input[type="submit"] {
	margin-top: -12px;
	font-size: 20px;
	text-transform: uppercase;
	padding: 11px;
	border: none;
	color: #FFF;
	text-shadow: 1px 1px 2px #1e2631;
	background: #0c92d1;
}

#login_form input[type="submit"]:hover {
	cursor: pointer;
}

#register_button {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 20px;
	text-transform: uppercase;
	padding: 11px 10px 10px 10px;
	border: none;
	color: #FFF;
	text-shadow: 1px 1px 2px #1e2631;
	background: #0c92d1;
}

#register_button:hover {
	cursor: pointer;

}

#hide_login {
	display: none;
} 