/*
	Left menu
	Glowing Blue: #0c92d1
	Dark Blue: #1e2631 
*/
.vertical_menu_div {
	height: 100%;
	background: #1e2631;
	width: 130px;
	float: left;
}

.logo {
	display: block;
	background-color: #fff !important;
	width: 130px;
	height: 100px;
	position: absolute;
	top: 0px;
	text-align: center;
	line-height: 100px;
	color: #CCC;
	background: url('../images/site_logo.png');
}

.vertical_menu_ul {
	display: block;
	list-style: none;
	width: 130px;
	padding-top: 100px;
}

.vertical_menu_ul li a {
	text-decoration: none;
	display: block;
	padding: 10px;
	text-align: center;
	color: #CECECE;
	font-size: 18px;
	text-transform: uppercase;
	transition: .3s;
	text-shadow: 0 0 6px #0c92d1;
}

.vertical_menu_ul li a:hover {
	box-shadow: inset 0 7px 10px -7px #0c92d1;
}

.vertical_menu_ul li:first-child {
	border-top: 2px solid #0c92d1;
}

.vertical_menu_ul li:last-child, .vertical_menu_ul li:nth-child(2), .vertical_menu_ul li:nth-child(3) {
	border-top: 2px solid #0c92d1;
}

.login_button {
	position: absolute;
	text-shadow: 0 0 6px #0c92d1;
	bottom: 0px;
	left: 0px;
	display: block;
	width: 130px;
	padding: 10px;
	background-color: #1e2631;
	border: none;
	border-bottom: 2px solid #0c92d1;
	text-align: center;
	font-size: 22px;
	color: #CCC;
	cursor: pointer;
}

.login_button:hover {
	box-shadow: inset 0 -14px 10px -10px #0c92d1;
}

/*
	Horizontal menu
*/

* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

.hor_menu_div {
	width: 100%;
	height: 100px;
	background: #1e2631;
}

.hor_menu_ul {
	display: block;
	list-style: none;
	height: 100px;
}

.hor_menu_ul li a {
	width: 130px;
	height: 100px;
	text-align: center;
	line-height: 160px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 6px #0c92d1;
	color: #CECECE;
	display: block;
	font-size: 18px;
	transition: .3s;
	background-image: url('../images/icons/plus.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.hor_menu_ul li a:hover {
	box-shadow: inset 10px 0 20px -10px #0c92d1;
}

.hor_menu_ul li {
	float: left;
	border-right: 2px solid #0c92d1;
}

.hor_menu_ul li:first-child {
	border-left: 2px solid #0c92d1;
	display: block;
	float: left;
	border-right: 2px solid #0c92d1;
}

.hor_menu_ul li:last-child {
	float: left;
}

#collapse_menu_btn {
	background: url('../images/menu_icon.png');
	height: 32px;
	width: 32px;
	border: none;
	position: fixed;
	right: 4px;
	top: 64px;
}

#collapse_menu_btn:hover {
	cursor: pointer;
}

#collapsedHorMenu {
	height: 102px;
	width: 36px;
	background: #1e2631;
	display: none;
}

#collapsedHorMenu ul {
	list-style: none;
}

#collapsedHorMenu ul li {
	background-image: url('../images/icons/plusSmall.svg');
	background-repeat: no-repeat;
	height: 32px;
	width: 36px;
	border-bottom: 2px solid #0c92d1;
	border-right: 2px solid #0c92d1;
}

#collapsedHorMenu ul li:hover {
	cursor: pointer;
}




















