<link href="<?=$this->baseUrl('css/form.css');?>" media="screen" rel="stylesheet" type="text/css" />


<form method="post" name="add-run" class="elegant-aero">
<?php
function getInputType($name,$type,$value){
	if($type === 'boolean'){
		$checked = (intval($value) !== 0) ? '' : 'checked = true';
		echo sprintf('<input name="%s" id="%s" type="checkbox" %s/>',$name,$name, $checked);
	}
}
//name, value_type, value
if(is_array($this->prefs) && count($this->prefs)){
foreach($this->prefs as $p){
	?>
	<label for="<?=$p['name'];?>"><span><?=$p['name']?>: </span></label><?php getInputType($p['name'],$p['value_type'],$p['value_type']);?>
	<?php
}
}

?>
	<label><span>&nbsp;</span></label><input type="submit" value="Save" class="button"/>
</form>