<?php
echo $this->doctype();
$this->headMeta()->appendHttpEquiv('Content-Type',
	'text/html; charset=UTF-8');
$this->headScript()
	->appendFile($this->baseUrl('js/lib/jquery-1.11.1.min.js'))
	->appendFile($this->baseUrl('js/tools.js'))
	->appendFile($this->baseUrl('js/menu.js'))
	->appendFile($this->baseUrl('js/collapseMenu.js'))
	->appendFile($this->baseUrl('js/loginbuttonclick.js'));
$this->headLink()
	->appendStylesheet($this->baseUrl('css/site.css'))
	->appendStylesheet($this->baseUrl('css/login_form.css'))
	->appendStylesheet($this->baseUrl('css/filters.css'))
	->appendStylesheet($this->baseUrl('css/menu.css')); // Link CSS like this
?>
<html>
<head>
	<script type="text/javascript">
		var base = '<?=$this->baseUrl();?>';
	</script>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<?php
	echo $this->headTitle();
	echo $this->headMeta();
	echo $this->headLink();
	echo $this->headStyle();
	echo $this->headScript();
	?>
</head>
<body>
<div class="vertical_menu_div">
	<div class="logo">&nbsp; </div>
	<ul class="vertical_menu_ul">
		<?php
		echo $this->partial('menu/main.phtml', array(	'loggedIn'=>$this->user['authenticated'],
			'nodes'=>$this->user['permission_nodes']) );
		?>
	</ul>
	<?php
	if(!$this->user['authenticated']){
		?>
		<button class="login_button" id="show_login"> LOGIN </button>
		<button class="login_button" id="hide_login"> HIDE </button>
		<?php
	}else{
		?>
		<button class="login_button" id="logout" onclick="redirect('index/logout')"> LOGOUT </button>
		<?php
	}
	?>

	<div style="clear:both;"></div>
	<div id="login_form_box"> <!-- WE NEED TO SHOW THIS WITH JS -->
		<?=$this->partial('index/login_footer.phtml');?>
	</div>
</div>
<div id="main_content">
	<?=$this->partial('menu/horizontal.phtml', array('controller'=>$this->controllerName));?>
	<div id="page_content">
		<?=$this->layout()->content;?>
	</div>
</div>
</body>
</html>
