<link href="<?=$this->baseUrl('css/form.css');?>" media="screen" rel="stylesheet" type="text/css" />
<script>
function importLastStats(){
	$.getJSON('<?=$this->baseUrl('running/mylastrun');?>', function(data) {
		$("#distance").val(data.distance/1000);
		var h = ""+Math.floor(data.time/60);
		var m = data.time%60;
		h = (h.length == 1) ? "0"+h : h;
		$("#time").val(h+":"+m);
		$("#calories").val(data.fat_burned);
	});
}
</script>
<form method="post" name="add-run" class="elegant-aero">
	<h1>Add results of a run:</h1>
	<label><span>&nbsp;</span></label><input type="button" class="button" value="Load last result" style="background:#91BE3F;" onclick="importLastStats()"/>
	<label for="date"><span>Date: </span></label><input name="date" id="date" type="date" value="<?=date("Y-m-d");?>"/>
	<label><span>Distance (km): </span></label><input name="distance" id="distance" type="number" step="0.1"/>
	<label><span>Time (hh:mm): </span></label><input name="time" id="time" type="time"/>
	<label><span>calories: </span></label><input name="calories" id="calories" type="number"/>
	<label><span>&nbsp;</span></label><input type="submit" value="Add" class="button"/>
</form>

