<h2>Relative improvement</h2>
<p>Distance: +8%</p>
<p>Speed: +2.7%</p>

<h2>Planned next run:</h2>
<p>In 3 days!</p>


<?php
if(isset($this->lastRuns) && count($this->lastRuns)>0){
	?>
	<h2>Last runs</h2>
	<?php
	foreach($this->lastRuns as $r){
		echo sprintf('<p>On %s you can %s KM in %s min. Thats an average of %01.2f km/h!</p>',$r['rundate'],intval($r['distance'])/1000,$r['time'], $r['distance']/$r['time']*60/1000);
	}
}
?>