<h2>Run history</h2>

<script>
$(document).ready(function(){
	$.getJSON('<?=$this->baseUrl('running/myhistory');?>', function(data) {
		console.log(data);
		var tbl_body = "";
		var gotkeys= false;
		var keyhtml="";
		$.each(data, function() {
			var tbl_row = "";
			$.each(this, function(k , v) {
				if(!gotkeys){
					keyhtml += "<th>"+k+"</th>";
				}
				tbl_row += "<td>"+v+"</td>";
			})
			gotkeys=true;
			tbl_body += "<tr>"+tbl_row+"</tr>";
		})
		$("#run_history thead").html("<tr>"+ keyhtml+"</tr>");
		$("#run_history tbody").html(tbl_body);
	});
});
</script>
<table id="run_history">
	<thead></thead>
	<tbody></tbody>
</table>