<script type="text/javascript" src="<?=$this->baseUrl('js/lib/Chart.min.js');?>"></script>

<script>
$(document).ready(function(){
	getGraphData();
});

function getGraphData(){
	$.getJSON('<?=$this->baseUrl('running/getaverage/type/speed');?>', function(data) {
		makegraph(data, "averageGraph");
	});
	$.getJSON('<?=$this->baseUrl('running/getaverage/type/distance');?>', function(data) {
		makegraph(data, "distanceGraph");
	});
	$.getJSON('<?=$this->baseUrl('running/getaverage/type/duration');?>', function(data) {
		makegraph(data, "durationGraph");
	});
}

function makegraph(data, element){
	console.log('k');
	var lbls = new Array();
	var d = new Array();
	$.each(data, function(k , v) {
		lbls.push(v.rundate);
		d.push(v.result);
	});

	var data = {
		labels: lbls,
		datasets: [
			{
				label: "Average Speed",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1)",
				pointColor: "rgba(151,187,205,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: d
			}
		]
	};

	var ctx = document.getElementById(element).getContext("2d");
	var myLineChart = new Chart(ctx).Line(data);

};
</script>
<div style="float:left;margin-bottom: 20px; margin-right:25px;">
	<h2>Average speed</h2>
	<canvas id="averageGraph" width="800" height="400"></canvas>
</div>
<div style="float:left;margin-bottom: 20px; margin-right:25px;">
	<h2>Distance (in km)</h2>
	<canvas id="distanceGraph" width="800" height="400"></canvas>
</div>
<div style="float:left;margin-bottom: 20px; margin-right:25px;">
	<h2>Duration (in min)</h2>
	<canvas id="durationGraph" width="800" height="400"></canvas>
</div>